<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Exchange</title>
  <script src="https://kit.fontawesome.com/d0156047d2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="images/wallet_icon.ico">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/main">
      <span class="crypto">Crypto</span>Wallet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/main">Home</a>
        <a class="nav-item nav-link" href="/send">Send</a>
        <a class="nav-item nav-link active" href="/exchange">Exchange</a>
        <a class="nav-item nav-link" href="/">Log out</a>
      </div>
    </div>
  </nav>

  <br>
  <br>

<div class="row">
  <div class="col">
    <h1>Exchange <span class="crypto">Crypto</span></h1>
  </div>
</div>

<br>
<hr>
<br>

<form action="/exchange" class="exchange-form" method="POST">
  <div class="row">
    <div class="col">
      <h3>Select currencies for exchange:</h3>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-3">
      <h3>From</h3>
    </div>
    <div class="col-sm-3">
      <select class="form-control exchange-from-select" name="from">
        <option value="BTC" selected>BTC</option>
        <option value="LTC">LTC</option>
      </select>
    </div>
    <div class="col-sm-3">
      <h3>To</h3>
    </div>
    <div class="col-sm-3">
      <select class="form-control exchange-to-select" name="to">
        <option class="exchange-to-option" value="BTC" disabled>BTC</option>
        <option class="exchange-to-option" value="LTC">LTC</option>
      </select>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col">
      <button type="submit" name="button" style="width: 10rem;" class="btn btn-outline-primary btn-lg proceed">Proceed</button>
    </div>
  </div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include("footer") -%>
