<%- include("header") -%>

  <div class="row">
    <div class="col">
      <h1>Exchange <span class="crypto">Crypto</span></h1>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <form action="send" method="post">
    <div class="row">
      <div class="col">
        <h3>From <span class="crypto"> <%= currentCurrency %> </span> to
          <select class="form-control" name="" id="">
            <option>BTC</option>
            <option>LTC</option>
          </select>
        </h3>
      </div>
    </div>

  </form>

  <%- include("footer") -%>
