<%- include("header") -%>

  <div class="row">
    <div class="col">
      <h1>Exchange <span class="crypto">Crypto</span></h1>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <form action="/exchange" class="exchange-form" method="POST">
    <div class="row">
      <div class="col">
        <h3>Select currencies for exchange:</h3>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-sm-3">
        <h3>From</h3>
      </div>
      <div class="col-sm-3">
        <select class="form-control" name="from">
          <option value="BTC">BTC</option>
          <option value="LTC">LTC</option>
        </select>
      </div>
      <div class="col-sm-3">
        <h3>To</h3>
      </div>
      <div class="col-sm-3">
        <select class="form-control" name="to">
          <option value="BTC">BTC</option>
          <option value="LTC">LTC</option>
        </select>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col">
        <button type="submit" name="button" style="width: 10rem;" class="btn btn-outline-primary btn-lg proceed">Proceed</button>
      </div>
    </div>
  </form>


  <%- include("footer") -%>
