body {
  font-family: "Montserrat";
  padding: 3% 15% 7%;
  background-color: #E4E9FD;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #0f0f0f;
}

/* Navigation Bar */
.navbar {
}

.nav-item {
  padding: 0 18px;
}

#features{
}
