body {
  width: 70%;
  text-align: center;
  margin: auto;
}

.crypto {
  font-weight: bold;
  color: #0779e4;
}

.navbar {
  border-bottom: 1px solid grey;
}

.crypto-balance {
  font-size: 100px;
}

.forex {
  color: grey;
}

.crypto-address {
  font-size: 20px;
}

.warning-box {
  border: 1px solid grey;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  background-color: #f5a7a7;
}

.warning {
  color: red;
}
