body {
  width: 70%;
  text-align: center;
  margin: auto;
}

.crypto {
  font-weight: bold;
  color: #0779e4;
}

.navbar {
  border-bottom: 1px solid grey;
}

.crypto-balance {
  font-size: 100px;
}

.forex {
  color: grey;
}

.crypto-address {
  font-size: 20px;
}

.warning-box {
  background-color: #ffe6e6;  /*ffb3b3*/
  border: 1px solid grey;
  border-radius: 10px;
  margin: auto;
  width: 60%;
}

.warning {
  color: red;
}

.big-checkbox {width: 18px; height: 18px;}
