body {
  text-align: center;
}

.col-sm-9 {
  padding: 0;
}

hr {
  width: 90%;
}

.crypto {
  font-weight: bold;
  color: #0779e4;
}

.jumbotron {
  background-color: white;
}

.carousel {
  width:600px;
  height:401px;
  margin: auto;
  border: 1px solid black;
  margin: 0 auto;
}

.carousel-caption {
  color: black;
}

.right {
  height: 900px;
  text-align: center;
  padding-top: 350px;
  background-color: #0779e4;
}

.left {
  height: 900px;
  border-right: 1px solid black;
}

.mid-row {
  height: 450px;
  padding: 0;
}

.login-btn {
  width: 80%;

}

.create-btn {
  width: 80%;
  margin-top: 15px;
}


.login-form {
  width: 78%;
  margin: auto;
  background-color: white;
  display: none;
  padding-top: 10px;
  border-radius: 0 0 10px 10px;
  padding-bottom: 5px;
}

.create-form {
  width: 78%;
  margin: auto;
  background-color: white;
  display: none;
  padding-top: 10px;
  border-radius: 0 0 10px 10px;
  padding-bottom: 5px;
}

.input-field {
  width: 70%;
  display: inline;
}

.login-btn-small {
  width: 60%;
}
